<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-image-gallery.css">
    <link rel="stylesheet" href="/styles/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>


  <body>
   
    <%- body %>   
 
      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->
    
   <!--SCRIPTS-->
   <script src="/js/dependencies/sails.io.js"></script>
   <script src="/js/dependencies/jquery.js"></script>
   <script src="/js/dependencies/jquery.validate.js"></script>
   <script src="/js/bootstrap.js"></script>
   <script src="/js/jquery.blueimp-gallery.min.js"></script>
   <script src="/js/bootstrap-image-gallery.min.js"></script>
   <script src="/js/SharedCanvas.js"></script>
   <script src="/js/canvasToolsAndNetworking.js"></script>
   <script src="/js/galleryAdditions.js"></script>
   <script src="/js/regValidate.js"></script>
   <!--SCRIPTS END-->
    
  </body>
</html>
