<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/jquery-ui.structure.css">
    <link rel="stylesheet" href="/styles/jquery-ui.theme.css">
    <!--STYLES END-->
  </head>


  <body>
   
    <%- body %>   
 
      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->
    
   <!--SCRIPTS-->
   <script src="/js/dependencies/sails.io.js"></script>
   <script src="/js/dependencies/jquery.js"></script>
   <script src="/js/dependencies/jquery-ui.js"></script>
   <script src="/js/dependencies/jquery.validate.js"></script>
   <script src="/js/bootstrap.js"></script>
   <script src="/js/SharedCanvas.js"></script>
   <script src="/js/canvasToolsAndNetworking.js"></script>
   <script src="/js/regValidate.js"></script>
   <!--SCRIPTS END-->
    
  </body>
</html>
