<div class="container">
    <hr>
    <footer class="footer" id="mainFooter">
      <div>Created by Ondrej Ritomsky 2015</div>
  
      <div class="pull-right">
        Using 
        <a href="https://nodejs.org/">node.js</a>,
        <a href="http://sailsjs.com/">sails.js</a>,
        <a href="https://www.mongodb.org/">MongoDB</a>
      </div>
      
    </footer>    
</div>