<div class="container">
    <div class="jumbotron">
      <h1>Welcome to SHARED-CANVAS</h1>
      <% if (!session.authenthicated){%>
      <a href="/user/registration" class="btn btn-lg btn-primary">Sign up!</a>
      <% } %>
    </div>
</div>
  