<nav id="canvasNav" class="navbar navbar-inverse">
  <ul id="actions" class="nav navbar-nav">
    <li><a href="/" class="btn" title="Home">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </a></li>
    <% if (session.authenthicated && session.author){ %>
    <li><a class="btn" title="Save on server" data-toggle="modal" data-target="#saveModal">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </a></li>
    <% } %>
    <li><a class="btn" title="Save to desktop" data-toggle="modal" data-target="#downloadModal">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" ></span>
    </a></li>
    <li>
    <p class="navbar-text" id="networkMessage">Idle</p>
      </li>
  </ul>
  <% if (session.author){ %>
  <ul id="inviteActions" class="nav navbar-nav pull-right" hidden>    
   <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#linkInviteModal">
      Invite with link
    </button>
   </li>   
  </ul>
  <% } 
     if (path){ %>
      <script>
        syncPath = <%- JSON.stringify(path) %>;
      </script>
   <% } else { %>
      <script>
        syncPath = null; 
      </script>
   <% } %>
</nav>

<main>
<!-- Modal -->
<div class="modal fade" id="linkInviteModal" tabindex="-1" role="dialog" aria-labelledby="linkInviteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="linkInviteModalLabel">Invite friend via link</h4>
      </div>
      <div class="modal-body" id="linkInviteModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
  
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="downloadModalLabel">Invite friend via link</h4>
      </div>
      <div class="modal-body" id="downloadModalBody">
        File name: <input type="text" id="fileName" value="image"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="button" id="downloadLink" class="btn btn-primary" download="">Download</a>
      </div>
    </div>
  </div>
</div>  

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveModalLabel">Invite friend via link</h4>
      </div>
      <div class="modal-body" id="saveModalBody">
        File name: <input type="text" id="saveFileName" value="image"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="saveLink" class="btn btn-primary">Save</a>
      </div>
    </div>
  </div>
</div>  

  
<div class="container-fluid">
  <div class="row">
    <div id="canvasLeftColumn" class="col-md-1">
      <div class="canvasTools">
        <div class="canvasCursorType">
          <h4>Drawing tools</h4>
          <input type="button" class="btn" id="canvasPen" value="P" /> </br>
          Size: <input id="canvasCursorWidth" type="range" min="1" max="5" step="1"/> 

        </div>
        <div class="canvasColors">       
          <h4>Color</h4>
          <input type="text" size="3" id="canvasRed"/><br/>
          <input type="text" size="3" id="canvasGreen"/><br/>
          <input type="text" size="3" id="canvasBlue"/><br/>
          <input type="text" size="3" id="canvasResultColor" disabled/><br/>
        </div>

      </div>
    </div>


    <div id="canvasRightColumn" class="col-md-11">
      <canvas width="800" height="600" id="canvas">
      </canvas>

    </div>

  </div>

  
  
</div>

</main>
  