<main>
  <div class="container">
    
    <div class="row">
      <div class="col-md-9">
        <h1>Start Drawing!</h1>
        <div class="startButtons">
          <a href="/canvas/draw" class="btn btn-primary canvasStartButton" id="newCanvas">New Canvas</a>
          <a href="" class="btn btn-primary canvasStartButton" id="todo">Mockup </a>
        </div>
        
      </div>
      
      <aside class="col-md-3">
        <figure> 
          <img src="http://placehold.it/350x150" alt="placeholder" class="img-thumbnail">
          <figcaption>Random image</figcaption>  
          
        </figure>

      </aside>
    </div>


  </div>    
</main>

